# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
NOTES.txt
/charts/promtail/templates/hpa.yaml
/charts/promtail/templates/clusterrole.yaml
/charts/promtail/templates/clusterrolebinding.yaml
/charts/promtail/templates/deployment.yaml
/charts/promtail/templates/extra-manifests.yaml
/charts/promtail/templates/hpa.yaml
/charts/promtail/templates/networkpolicy.yaml
/charts/promtail/templates/ingress.yaml
/charts/promtail/templates/podsecuritypolicy.yaml
/charts/promtail/templates/prometheus-rules.yaml
/charts/promtail/templates/role.yaml
/charts/promtail/templates/rolebinding.yaml
/charts/promtail/templates/service-extra.yaml
/charts/promtail/templates/service-metrics.yaml
/charts/promtail/templates/servicemonitor.yaml
/charts/promtail/templates/serviceaccount.yaml
/charts/promtail/templates/verticalpodautoscaler.yaml
/templates/deployment.yaml
